<header>
   
   <nav>
      <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/homePortal">Home Portal</a></li>
        <!-- <li><a href="/getTasksHomePage">Task List</a></li> -->
      </ul>
    </nav>


</header>