<header>
   
   <nav>
      <ul>
        <li><a href="/">Login Page</a></li>
        <li><a href="/homePortal">Home Portal</a></li>
        <li><a href="/getTasks">Task List</a></li>
      </ul>
    </nav>


</header>