

<header>
   
    <nav>
       <ul>
         <li><a href="/homePortal">Home Portal</a></li>
         <li><a href="/getTasksHomePage">Task List</a></li>
         <li><a href="/addTask">Add Task</a></li>
       </ul>
     </nav>
 
 
 </header>