<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TheMountain</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('layouts/styles') %>
</head>
<header>
  <%- include('layouts/marquee') %>
  <h1>Welcome to The Mountain</h1>
  <%- include('layouts/loginNav') %>
</header>




<body>
     <section class="flex-container">
      <section>
        <ul>
          <li><a href="">Start Exploring...</a></li>
        </ul>
      </section>
      <section>  
        <form>
        <input type="radio" name="sort" id="title" checked="checked">
        <label for="title">Sort by Title</label>
        <input type="radio" name="sort" id="horns">
        <label for="horns">Sort by level</label>
      </form>
    </section>
      <section>
        <select>
          <option value="default">Filter by Keyword</option>
        </select>
      </section>

      <section>
        <ul>
          <li id="1">Page 1</li>
          <li id="2">Page 2</li>
        </ul>
      </section>

    </section>
    <!--Closes the flex container-->
  <main class="flex-container">

 



    <section  id="image-container">
    
      <!-- Mustache template for photos -->
      <template id="photo-template" type="text/x-tmpl-mustache">
        <div class="{{ keyword }}">
          <h2>{{ title }}</h2>
          <img src="{{ image_url }}" alt="" />
          <p>{{ description }}</p>
        </div>
      </template>
    
  </section>  
  </main>












  <%- include('layouts/footer') %>
 <section class="flex-container">
 <section>
        <ul>
          <li id="1">Page 1</li>
          <li id="2">Page 2</li>
        </ul>
 </section>
</section>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <!-- <script src="js/dropDown.js"></script> -->
  <script src="js/secondDataSet.js"></script>
  <script src="js/app.js"></script>
</body>

</html>