<!DOCTYPE html>
 <html> 
    <head>
        <meta charset="utf-8">
     
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
      <main>
        <header>
        <h1>Welcome to pennyWorth Home Base, <%= user.username %> </h1>

        <nav>
          <ul>
            <li><a href="/index">Home Portal</a></li>
            <li><a href="/taskList">Task List</a></li>

          </ul>
        </nav>
      </header>
    
      </main>
        
        <script src="" ></script>
    </body>
</html>