







body {
    font-family:  Helvetica, Arial,sans-serif;
    /* background-color: #CFD2CD; */
    background-color: #06BEE1; 
    width: 1200px;
    margin: 0 auto;  
}

h1 {
    font-size: 35px;
    color: #FBFBF2;
    /* float:left; */

}
h2{ 
    font-size: 30px;
    color: whitesmoke;
}
main h2{
    font-size: 30px;
    color: #1768AC;
}
h4 {
    font-family: 'Archivo Black', sans-serif;
}

main {
    /* background-color: #A6A2A2;  */
    background-color: #FBFBF2;
    clear: both;
    

}
header {
    /* border-top: 5px solid #E5E6E4; */
    /* background-color: #847577; */
    border-top: 5px solid #FFF;
    background-color: #1768AC;
    height: 200px;
    clear: both;
}

ul {float: right;}

nav li {
    display: inline-block;
    font-size: 20px;
    padding: 35px;
}

marquee {
    height: 45px;
    /* background-color:#abb3a3; */
    background-color:#03256C;
    color: whitesmoke;
    font-size: 25px;
    
}

#dayAndTime {
    margin-top: 10px;
}


footer {
    clear:both;
    /* background-color: #847577; */
    /* border-top: 5px solid #E5E6E4; */
    border-top: 5px solid #FFF;
    background-color:#03256C;
    color: whitesmoke;
}


