body {
    font-family:  Helvetica, Arial,sans-serif;
    background-color: #CFD2CD;
    width: 1200px;
    margin: 0 auto;  
}

h1 {
    font-size: 35px;
    color: #FBFBF2;
    float:left;
    
}

main {
    background-color: #A6A2A2; 
}
header {
    border-top: 5px solid #E5E6E4;
    background-color: #847577;
    height: 200px;
    clear: both;
}
nav {float: right;}

nav li {
    clear: both;
    display: inline;
    padding:10px;
    font-size: 20px;
    
}

footer {
    clear:both;
    background-color: #847577;
    border-top: 5px solid #E5E6E4;
}
