.flex-container {
    display: flex;
    background-color: #FBFBF2;;
  }
  
  .flex-container > section {
    /* background-color:#abb3a3; */
    background-color: #FFF;
    border: 5px solid #1768AC;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
  }