/* unvisited link */
nav li a:link {
    color: #FBFBF2;
    text-decoration: none;
  }
  
  /* visited link */
  nav li a:visited {
    color: #E5E6E4;
    text-decoration: none;
  }
  
  /* mouse over link */
  nav li a:hover {
    color: #CFD2CD;
    text-decoration: none;
  }
  
  /* selected link */
  nav li a:active {
    color: #A6A2A2;
    text-decoration: none;
  }


  /* unvisited link */
a:link {
  /* color: #FBFBF2; */
  color: #03256C;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #1768AC;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #CFD2CD;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #1768AC;
  text-decoration: none;
}





.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.grid > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}
.body {
  margin: 2rem;
  font: 12px system-ui;
}