/* unvisited link */
a:link {
    color: #FBFBF2;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #E5E6E4;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #CFD2CD;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #A6A2A2;
    text-decoration: none;
  }